<!DOCTYPE html>
<html>

<head>
    <title>Grain Frontend</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>

<body>
    <div id="app" class="flex-container">
        <dish-logo></dish-logo>
        <!-- <div class="banner">EFLsdsdsdF</div>
        <comment-available></comment-available>
        <comment-unavailable></comment-unavailable>
        <upvote v-bind:rating="1"></upvote>
        <downvote v-bind:rating="1"></downvote>
        <upvote v-bind:rating="-1"></upvote>
        <downvote v-bind:rating="-1"></downvote> -->
        <h1>Rate Your Dish!</h1>

        <!-- <h3>Help us serve you better. Your feedback will help us to design more exciting meals in the future.</h3> -->
        <div class="flex-container" v-for="order in orders">
            <div class="banner">
                Order ID: {{order.order_id}}
            </div>
            <div class="date-display">Delivered on: {{order.delivery_date}} at {{order.delivery_time.slice(6)}} </div>
            <div class="row-container">
                <div class="meal-list">
                    <h1>Meals Served: </h1>
                    <ul>
                        <li v-for="order_item in order.order_items">
                            {{order_item.name}}
                        </li>
                    </ul>
                </div>
                <div v-bind:class="{comment: !order.feedback_submitted}">
                    <!-- Trigger the modal with a button -->
                    <feedbackmodal class="unselectedHeart" v-bind:order="order"></feedbackmodal>
                    <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" v-bind:data-target="'#'+order.order_id">Open Modal</button> -->

                    <comment-available v-if="!order.feedback_submitted" data-toggle="modal" v-bind:data-target="'#'+order.order_id"></comment-available>
                    <comment-unavailable v-if="order.feedback_submitted"></comment-unavailable>
                </div>

            </div>
        </div>

    </div>
    <script src="./index.js"></script>
</body>

</html>